body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

textarea {
    width: calc(100% - 16px);;
    height: 80px;
    margin: 8px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
 
